/* Noto Sans Thai UI Web fonts - PAKIN.ME */
@font-face {
  font-family: 'Noto Sans Thai UI';
  src: url('subset-NotoSansThaiUI-Bold.woff2') format('woff2'), url('subset-NotoSansThaiUI-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans Thai UI';
  src: url('subset-NotoSansThaiUI-Regular.woff2') format('woff2'), url('subset-NotoSansThaiUI-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
